VITE_SUPABASE_URL=https://iplrydnzbevicilulmsy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_a85TtaiqChULojIBxFF_5Q_P0bEpvNE

# Web Push (VAPID) — générer avec : npx web-push generate-vapid-keys
VITE_VAPID_PUBLIC_KEY=BDnzDP3gBQZUU0oA5cEHZLWY14Tws4Z8Udq40a56MOQTMjMdhz7xXaUqWk9yamP_Iyk-2w4U0K-MphXqfD0wRzU
